/* div {
  border: 1px solid black;
} */

body {
  background: radial-gradient(
    circle,
    rgba(89, 191, 252, 0.91) 0%,
    rgba(9, 44, 98, 0.78) 92%
  );
  background-size: 100%;
  background-position: left center;
  background-repeat: repeat;
}

.mainBody {
  width: 25%;
  margin-left: 37.5%;
  margin-top: 8%;
}

.add-task-body {
  border-radius: 20px 20px 0px 0px;
  border: 3px solid rgb(243, 241, 237, 0.4);
  background-color: rgb(243, 241, 237, 0.4);
}

.taskContent {
  color: green;
}
